* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue:rgb(0, 132, 253);
    --light-blue:rgb(181, 221, 255);
    --odd:rgb(151, 146, 228);
    --my-gap:1rem;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* SECTION */
section {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* CONTAINER  */
.container {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ROW */
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} 

/* COL  */
.col {
    flex-grow: 1;
    flex-basis: 0;
    border: 1px solid red;
    padding: 1rem;
}
.col-1-3 {
    flex-basis: calc((100% / 3) - var(--my-gap));
}

.col-2-3 {
    flex-basis: calc(((100% / 3) * 2) - var(--my-gap));
}

.col-1-2 {
    flex-basis: calc(50% - var(--my-gap));
} 

/* CARD  */
header .card {
    background-color: var(--light-blue);
}
.card {
    padding: 25px 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

/* TITLE */
h3, h2 {
    padding-bottom: 30px;
}

/* PARAGRAPH */
p {
    line-height: 1.5rem;
    margin-bottom: 20px;
}

/* TEXT  */
.text-grey {
    color: rgb(90, 110, 127);
}
.text-white {
    color: white;
}
.text-center {
    text-align: center;
}
.text-purple {
    color: rgb(151, 146, 228);
}
.text-yellow {
    color: rgb(253, 193, 95);
    font-size: 3rem;
}

/* NAV  */
nav {
    background-color: var(--blue);
    color: white;
}
.nav-bar {
    max-width: 992px;
    width: 100%;
    margin: auto;
    height: 80px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.big-nav {
    display: none;
    justify-content: end;
}
.big-nav a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    margin-top: 10px;
}
.nav-transparent {
    justify-content: end;
}
.nav-button {
    color: black;
    background-color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
}

button {
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
}
header section button {
    background-color: var(--blue);
    width: 200px;
}
.col-2-3 img {
    width: 300px;
    margin-top: 20px;
}
.card-blue {
    display: flex;
    flex-direction: column;
}
.col-1-3 .card i {
    color: var(--blue);
    text-align: center;
}
.text-with-icons {
    margin-top: 20px;
}
header h3 {
    color: var(--blue);
    text-align: start;
}

/* SECTION ODD */
.section-odd {
    background-color: var(--odd);
}
.section-odd .text-white > img {
    height: 350px;
}
.section-odd .card-white img {
    height: 350px;
}
.section-odd .card-white .image {
    display: flex;
    justify-content: center;
}
.card-white {
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.card-white .p-padding {
    padding-bottom: 120px;
}
.push {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--odd);
    border-radius: 50%;
    padding: 15px;
} 

/* PURPLE CARDS */
.card-purple {
    background-color: var(--odd);
    display: flex;
    gap: 2rem;
    text-align: center;
}
.card-purple img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* CARDS WHITE */
.card-white .text-grey {
    margin-bottom: 1rem;
}

.purple-button button {
    padding: 10px 30px;
    width: 130px;
    background-color: var(--odd);
}
.h2-purple {
    font-size: 3rem;
}

/* ABOUT US SECTION */
.card-about-us p {
    margin: 10px 0px;
}
.card-about-us {
    padding: 0;
}
.h2-little {
    font-size: 1.5rem;
    
}
.card-1-3 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.purple-button-linkedin button {

    padding: 10px 30px;
    width: 220px;
    background-color: var(--odd);
}

/* LAST SECTION  */
.white-button {
    text-align: center;
    margin-bottom: 20px;
}
.button-started {
    padding: 20px 50px;
}

/* FOOTER */
footer {
    background-color: rgb(51, 51, 51);
}
footer span a {
    color: var(--odd);
}

/* MEDIA QUERY MOBILE */
@media screen and (min-width: 480px) {
    .container {
        width:100%;
    } 
}

/* MEDIA QUERY DESKTOP */
@media screen and (min-width: 992px) {
    .container {
        width:100%;
    } 
    .nav-transparent {
        display: none;
    }
    .big-nav {
        display: flex;
    }

    .big-card-blue {
        display: flex;
        flex-direction: row;
    }
    .row {
        display: flex;
        flex-direction: row;
    }
    .container-sm {
        padding-left: 100px;
        padding-right: 100px;
    }  
    .text-white img {
        margin-bottom: 100px;
    }
    .empty {
        height: 200px;
    }
    .section-odd .card-white img {
        height: 200px;
    }
    .row-purple {
        flex-direction: column;
    }
    .card-purple {
        flex-direction: row;
        text-align: start;
    }
    .mini-card-purple {
        margin-top: 30px;
    }
    .row-white-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }  
    .container-xs {
        padding-left: 200px;
        padding-right: 200px;
    } 
    .container-xxs {
    padding-left: 250px;
    padding-right: 250px;
    }

}

/* .card {
    padding: 25px 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
} */